in this notebook, Data Science Tools and Ecosystem are summarized.

Objectives:

    • List popular programming languages fro data science 
    • Understand how and why we use Github
    • Have a basic understanding of the R programming language and its uses

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. SQL

|Data science Tools|
---
|Apache spark|
|TensorFlow|
|Hadoop|

### Below are a few examples of evaluating arithmetic expressions in Python:

x = 1
y = 2
x + y = 3

In [1]:
(3*4)+5

#This a simple arithmetic expression to mutiply then add integers

17

In [3]:
#This will convert 200 minutes to hours by diving by 60
min = 200
hrs = min / 60
print(hrs)

3.3333333333333335

## Authour 

Kit